<div class="hero">
  <div class="hero-slide">
    <div
      class="img overlay"
      style="background-image: url('images/hero_bg_3.jpg')"
    ></div>
    <div
      class="img overlay"
      style="background-image: url('images/hero_bg_2.jpg')"
    ></div>
    <div
      class="img overlay"
      style="background-image: url('images/hero_bg_1.jpg')"
    ></div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center">
        <h1 class="heading" data-aos="fade-up">
          Easiest way to find your dream home
        </h1>
        <form
          action="#"
          class="narrow-w form-search d-flex align-items-stretch mb-3"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <input #search
            type="text"
            class="form-control px-4"
            placeholder="Your ZIP code or City. e.g. New York"
          />
          <!--button type="submit" class="btn btn-primary">Search</button-->
          <button class="btn btn-primary" (click)="searchHousingLocations(search.value)">
            Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<article *ngFor="let location of results" (click)="selectHousingLocation(location)">
  <img [src]="location.photo" [alt]="location.name">
  <p>{{location.name}}</p>
  <p>{{location.city}}, {{location.state}}</p>
  <button (click)="selectHousingLocation(location)">View</button>
</article>
